<template>
<div id="app">
    <div class="topbar">
        <div class="brand">
            <img src="assets/blu-rabbit-logo.svg" width="155px" alt="">
        </div>
        <div class="product">
            <div class="title">
                COCKPIT
            </div>

            <div class="icon" v-on:click="toggleSettings()">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </div>

            <div class="icon" v-on:click="refresh()">
                <i class="fa fa-refresh"></i>
            </div>
        </div>
    </div>

    <div class="settings" v-bind:class=" show_settings ? 'settings-visible' : 'settings-hidden' ">
        <settings></settings>
    </div>

    <div class="sidebar">
        <ul>
            <!-- <li><router-link to="/dashboard">Dashboard</router-link></li> -->
            <li><router-link to="/repositories">Repositories</router-link></li>
        </ul>
    </div>

    <div class="body">
        <router-view/>
    </div>
</div>
</template>


<script>
import Settings from './components/Settings.vue'

export default {
    name: 'app',
    data () {
        return {
            show_settings: false
        }
    },
    methods: {
        toggleSettings () {
            this.show_settings = !this.show_settings;
        },
        refresh () {
            this.$bus.$emit('refresh');
        }
    },
    components: {
        Settings
    }
}
</script>

<style lang="scss" scoped>

.topbar {
    height: 70px;
    width: 100%;
    background: #333;
    line-height: 70px;
    position: fixed;
    .brand {
        color: #87ceeb;
        background: #111;
        width: 250px;
        height: 100%;
        font-size: 35px;
        text-align: center;
        float: left;
    }
    .product {
        .title {
            font-size: 36px;
            font-family: cocogoose;
            color: azure;
            float: left;
            padding-left: 25px;
            height: 70px;
            line-height: 70px;
        }
        .icon {
            font-size: 20px;
            color: skyblue;
            float: right;
            padding-right: 20px;
            &:hover {
                color: aliceblue;
                cursor: pointer;
                float: right;
            }
        }
    }
}

.sidebar {
    color: azure;
    background: #333;
    width: 250px;
    float: left;
    position: fixed;
    top: 70px;
    bottom: 0px;
    ul {
        list-style-type: none;
        margin-left: 0;
        padding: 0;
        li {
            text-decoration: none;
            height: 45px;
            line-height: 45px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 18px;
            background: #222;
            margin-top: 1px;
            &:hover {
                background: #111;
                cursor: pointer;
            }
            a {
                color: aliceblue;
                text-decoration: none;
                padding-left: 20px;
                display: block;
            }
        }
        .version {
            color: #222;
            text-align: center;
            width: 100%;
        }
    }
}

.settings {
    top: 71px;
    bottom: 0px;
    width: 50%;
    background: #333;
    color: black;
    position: fixed;
    z-index: 100;
}

.settings-visible {
    right: 0px;
    transition: right 0.5s;
}

.settings-hidden {
    right: -50%;
    transition: right 0.5s;
}

.body {
    background: #444;
    top: 70px;
    left: 250px;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: auto;
    color: black;
}
</style>
