<template>
<div class="repositories">
    <div class="repo" :key="i" v-for="(repo,i) in repositories" :class="repo == active_repo ? 'repo-expand' : 'repo-collapse'">
        <div class="title" v-on:click="toggleRepo(repo)" :class="repo == active_repo ? 'title-active' : ''">
            <i class="fa fa-github" aria-hidden="true"></i> &nbsp;
            <span>{{ repo.name }}</span>&nbsp;
            <span class="isdirty" v-if="repo.is_dirty">(dirty)</span>
        </div>
        <div class="commands">
            <i v-on:click="openInFolder(repo)" class="fa fa-folder" aria-hidden="true"></i>
            <i v-on:click="openInEditor(repo)" class="fa fa-code" aria-hidden="true"></i>
        </div>
        <div class="details">
            <div class="item">
                <label>Branches</label>
            </div>
            <div class="item-details">
                <table>
                    <tr :key="i" v-for="(branch,i) in repo.branches">
                        <td>
                            <span class="branch" v-on:click="switchBranch(repo, branch)" :class="branch == repo.active_branch ? 'active': ''">
                                * {{ branch }}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>

            <br>

            <div class="item">
                <label>Remotes</label>
            </div>
            <div class="item-details">
                <table>
                    <tr :key="i" v-for="(remote,i) in repo.remotes">
                        <td>
                            <span style="font-weight: bold">* {{ remote.name }}</span>
                        </td>
                        <td>
                            <span>{{ remote.url }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</template>


<script>
const API = 'http://localhost:13131/repositories';

export default {
    name: 'repositories',
    data () {
        return {
            repositories: [],
            active_repo: null
        }
    },
    created () {
        this.fetchRepositories();
        this.$bus.$on('refresh', () => this.fetchRepositories());
    },
    methods: {
        toggleRepo (repo) {
            if (this.active_repo == repo) this.active_repo = null;
            else this.active_repo = repo;
        },
        switchBranch (repo, branch) {
            let body = {directory: repo.directory, branch: branch};
            this.$http.post(`${API}/switch_branch`, body)
                .then(resp => {
                    if (resp['status'] == 200) repo.active_branch = branch;
                });
        },
        fetchRepositories () {
            this.$http.get(`${API}`)
                .then(resp => this.repositories = resp.body.repositories);
        },
        openInEditor (repo) {
            let body = {directory: repo.directory};
            this.$http.post(`${API}/open_in_editor`, body)
                .then(resp => console.log(resp));
        },
        openInFolder (repo) {
            let body = {directory: repo.directory};
            this.$http.post(`${API}/open_in_folder`, body)
                .then(resp => console.log(resp));
        }
    }
}
</script>


<style lang="scss" scoped>
.repositories {
    margin: 15px;
}

.repo {
    width: 100%;
    max-height: 35px;
    overflow: hidden;
    background: #234;
    margin-bottom: 2px;
    color: #abc;
    .title {
        height: 35px;
        line-height: 35px;
        padding-left: 15px;
        font-weight: bold;
        font-size: 16px;
        .isdirty {
            font-size: 12px;
            color: red;
            font-weight: normal;
        }
        &:hover {
            background: #123;
            color: white;
            cursor: pointer;
        }
    }
    .title-active {
        background: #123;
        color: white;
    }
    .commands {
        float: right;
        padding-right: 10px;
        margin-top: -35px;
        i {
            padding: 0 5px;
            margin: 0;
            font-size: 16px;
            line-height: 35px;
        }
        &:hover {
            color: white;
            cursor: pointer;
        }
    }
    .details {
        padding: 10px 15px;
        .item {
            background: #024;
            label {
                background: transparent;
                height: 35px;
                line-height: 35px;
                padding: 0px 10px;
                margin: 0;
                font-weight: bold;
            }
            input {
                height: 35px;
                vertical-align: top;
                line-height: 35px;
                background: #345;
                border: none;
                padding: 0 10px;
            }
            .submit {
                font-weight: bold;
                background: #062;
                padding: 0 15px;
                &:hover {
                    background: #173;
                }
            }
        }
        .item-details {
            padding: 5px 10px;
            border: 1px solid #024;
            border-top: none;
            max-height: 250px;
            overflow: auto;
            table {
                width: 100%;
                line-height: 30px;
                .active {
                    font-weight: bold;
                    color: red;
                }
                .clickable {
                    padding: 0 5px;
                    background: #062;
                    font-weight: bold;
                    &:hover {
                        background: #173;
                        cursor: pointer;
                    }
                }
            }
            .branch {
                cursor: pointer;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}

.repo-expand {
    max-height: 500px;
    transition: max-height 0.5s;
}

.repo-collapse {
    max-height: 35px;
    transition: max-height 0.5s;
}
</style>
