<template>
<div class="settings">
    <div class="item">
        <div class="header">
            <span>IDE</span>
            <span class="clickable">
                <i v-on:click="selectEditor" class="fa fa-wrench"></i>
            </span>
        </div>
        <div class="details">
            <span v-if="settings.editor">{{ settings.editor }}</span>
            <span v-else class="empty">No editor selected!</span>
        </div>
    </div>
    <div class="item">
        <div class="header">
            <span>Workspace</span>
            <span class="clickable">
                <i v-on:click="selectWorkspace" class="fa fa-wrench"></i>
            </span>
        </div>
        <div class="details">
            <span v-if="settings.workspaces.length">{{ settings.workspaces[0] }}</span>
            <span v-else class="empty">No workspace selected!</span>
        </div>
    </div>
</div>
</template>


<script>
const API = 'http://localhost:13131/settings';

export default {
    name: 'settings',
    data () {
        return {
            settings: {editor: '', workspaces: []}
        }
    },
    created() {
        this.$http.get(`${API}/`)
            .then(resp => this.settings = resp.body);
    },
    methods: {
        selectEditor () {
            let path = ipc.sendSync('open-file-dialog');
            if (!path) return;
            this.$http.post(`${API}/`, {editor: path[0]})
                .then(resp => this.settings = resp.body);
        },
        selectWorkspace () {
            let path = ipc.sendSync('open-file-dialog');
            if (!path) return;
            this.$http.post(`${API}/`, {workspaces: path})
                .then(resp => {
                    this.settings = resp.body;
                    this.$bus.$emit('refresh');
                });
        }
    }
}
</script>


<style lang="scss" scoped>
.settings {
    padding: 15px;
}

.item {
    color: #abc;
    margin-bottom: 15px;
    .header {
        background: #123;
        height: 35px;
        line-height: 35px;
        padding-left: 15px;
        font-weight: bold;
        font-size: 16px;
        .clickable {
            float: right;
            margin-right: 10px;
            cursor: pointer;
        }
    }
    .details {
        border: 1px solid #123;
        padding: 5px 15px;
        font-weight: bold;
        width: 100%;
        line-height: 25px;
        .empty {
            color: #567;
            width: 100%;
            text-align: center;
        }
    }
}
</style>
